.header-input .enyo-input-input {
	font-size: 1rem;
	margin: 0px;
}
.widen {
	width: 160px;
}
.widen input:focus {
	width: 300px;
}
.enyo-header-inner {
	padding: 0px 12px;
}
.enyo-icon-menu .enyo-item {
	padding: 0px 10px 0px 0px;
}