.header-input .enyo-input-input {
	font-size: 1rem;
	margin: 0px;
}
#tasks_tasks_search {
	width: 160px;
}
#tasks_tasks_search.wide {
	width: 300px;
}
#tasks_view {
	min-width: 384px;
}
#tasks_tasks_newTask {
	border-width: 8px 14px;
}
.calendar {
	width: 320px;
	margin: 0px 30px;
	border: 1px solid #999;
	border-top-style: none;
	border-bottom-style: none;
	text-align: center;
}
.calendar .enyo-tool-button, .calendar .enyo-header-inner {
	padding: 0px;
}
.calendar .enyo-header, .calendar .enyo-header-inner {
	min-height: 0px;
	height: 36px;
	line-height: 8px;
}
.calendar .day {
	border: 1px solid #999;
	border-right-style: none;
	border-top-style: none;
}
.calendar .day:first-child {
	border-left-style: none;
}
.enyo-header-inner {
	padding: 0px 12px;
}
.enyo-icon-menu .enyo-item {
	padding: 0px 10px 0px 0px;
}
.sort-importance {
	background-image: url(../images/Dark/importance-low.png);
	background-repeat: no-repeat;
}
.enyo-button-depressed .sort-importance {
	background-image: url(../images/Light/importance-low.png);
}
.sort-alphabetical {
	background-image: url(../images/Dark/sort-alphabetical.png);
	background-repeat: no-repeat;
}
.enyo-button-depressed .sort-alphabetical {
	background-image: url(../images/Light/sort-alphabetical.png);
}
.sort-time {
	background-image: url(../images/Dark/appointment-soon.png);
	background-repeat: no-repeat;
}
.enyo-button-depressed .sort-time {
	background-image: url(../images/Light/appointment-soon.png);
}